<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powerbridge.sso.dao.setting.SsoOrganizationMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wstro.entity.setting.SsoOrganization">
		<id column="OID" property="oid" />
		<result column="CODE" property="code" />
		<result column="NAME" property="name" />
		<result column="PARENT_CODE" property="parentCode" />
		<result column="ORDER_INDEX" property="orderIndex" />
		<result column="DESCRIPTION" property="description" />
		<result column="OP_USER" property="opUser" />
		<result column="OP_TIME" property="opTime" />
	</resultMap>

	<resultMap id="treeResultMap" type="com.wstro.entity.setting.SsoOrganization">
		<result column="orgCode" property="code" />
		<result column="orgName" property="name" />
		<result column="parentCode" property="parentCode" />
	</resultMap>

	<select id="selectOrgTreeInCode" resultMap="treeResultMap" parameterType="java.lang.String">
		select code AS orgCode, name AS orgName, parent_code AS parentCode
			from sso_organization
			where PARENT_CODE in
			<foreach collection="parentList" item="parent" open="(" close=")" separator=",">
				#{parent.code}
			</foreach>
	</select>

	<select id="getOrgTree" resultType="com.wstro.entity.setting.SsoOrganization" parameterType="com.wstro.entity.setting.SsoOrganization">
		SELECT
			A.OID,A.CODE,A.NAME,B.PARENT_CODE AS PARENTCODE,B.ORDER_INDEX AS ORDERINDEX
		FROM (
			SELECT
				org.OID AS OID,org.CODE AS CODE,org.NAME AS NAME
			FROM sso_organization org
			LEFT JOIN sso_org_company com ON com.ORG_CODE = org.CODE
			LEFT JOIN sso_user u on u.org_code = org.CODE
			WHERE 1 = 1
			<if test="name != null and name != ''">
				AND (org.NAME LIKE '%${name}%' OR com.CUS_CODE LIKE '%${name}%')
			</if>
			<if test="code != null and code != ''">
				AND  org.CODE = '${code}'
			</if>
			<if test="userName != null and userName != ''">
				AND u.user_name LIKE '%${userName}%'
			</if>
			<if test="trueName != null and trueName != ''">
				AND u.TRUE_NAME LIKE '%${trueName}%'
			</if>
			GROUP BY org.CODE,org.OID,org.NAME
			<!-- ORDER BY org.ORDER_INDEX -->
		) A
		LEFT JOIN sso_organization B on B.oid = A.OID
		ORDER BY B.ORDER_INDEX
	</select>
</mapper>
