<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wstro.dao.setting.SsoRoleFuncMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wstro.entity.setting.SsoRoleFunc">
		<id column="OID" property="oid" />
		<result column="ROLE_OID" property="roleOid" />
		<result column="ROLE_NAME" property="roleName" />
		<result column="PROJECT_CODE" property="projectCode" />
		<result column="PROJECT_NAME" property="projectName" />
		<result column="FUNCTION_CODE" property="functionCode" />
		<result column="FUNCTION_NAME" property="functionName" />
		<result column="OP_USER" property="opUser" />
		<result column="OP_TIME" property="opTime" />
		<result column="ORG_CODE" property="orgCode" />
	</resultMap>

	<!--<select id="selectAuthTreeAll" resultType="com.wstro.entity.setting.AuthorizeTreeMode">
		SELECT
		PROJECT_CODE AS projectCode, PROJECT_NAME AS projectName,
		FUNCTION_CODE AS functionCode, FUNCTION_NAME AS functionName,
		ifnull(PARENT_FUNC_CODE, PROJECT_CODE) AS parentCode, ifnull(PARENT_FUNCTION_NAME, PROJECT_NAME) AS parentName
		FROM sso_pro_func
	</select>

	&lt;!&ndash;项目code和name作为功能code和name，用于构建树形结构的顶级节点&ndash;&gt;
	<select id="selectProjectAll" resultType="com.wstro.entity.setting.AuthorizeTreeMode">
		SELECT
		'' AS projectCode, '' AS projectName,
		CODE AS functionCode, NAME AS functionName,
		'' AS parentCode, '' AS parentName
		FROM sso_project
	</select>-->

	<!--项目code和name作为功能code和name，用于构建机构管理员的树形结构的顶级节点-->
	<select id="selectProjectForORGAuthTree" resultType="com.wstro.entity.setting.AuthorizeTreeMode">
		SELECT
			'' AS projectCode, '' AS projectName,
			sp.CODE AS functionCode, sp.NAME AS functionName,
			'' AS parentCode, '' AS parentName,
			sp.IS_AUTHORIZED AS isAuthorized
		FROM
			(SELECT srf.PROJECT_CODE AS PROJECT_CODE
				FROM sso_role_func srf
				WHERE srf.ORG_CODE=#{orgCode}
				GROUP BY srf.PROJECT_CODE) tbl
		INNER JOIN sso_project sp ON sp.CODE = tbl.PROJECT_CODE AND sp.IS_SHOW = 'Y'
	</select>
	<select id="selectProjectCodeByUserName" parameterType="String" resultType="String">
		SELECT DISTINCT
            project_code
		FROM
            sso_role_func f
		INNER JOIN sso_role_user u ON f.role_oid = u.role_oid
            AND u.user_name = #{userName}
            and LENGTH(f.project_code) > 0
	</select>
</mapper>
