<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsg.dao.setting.SsoUserMapper">

    <!-- 通用查询映射结果 -->


    <select id="selectByList" resultType="com.dsg.entity.setting.SsoUser">
        SELECT  A.OID AS oid,A.ORG_CODE AS orgCode,A.USER_NAME AS userName,A.USER_PWD AS userPwd,
        A.USER_TYPE AS userType,A.TRUE_NAME AS trueName,A.ORDER_INDEX AS orderIndex,A.BLS_USER_TYPE AS blsUserType,
        A.IC_CODE AS icCode,A.CREDENTIALS_TYPE AS credentialsType,A.CREDENTIALS_NUM AS credentialsNum,A.TEL_NUM AS telNum,
        A.EMAIL AS email,A.ADDRESS AS address,A.IS_VALID AS isValid,A.NOTES AS notes,A.OP_USER AS opUser,A.OP_TIME AS opTime,B.NAME AS orgName,OPEN_ID AS OPENID
        FROM SSO_USER A
        LEFT JOIN SSO_ORGANIZATION B ON A.ORG_CODE=B.CODE
        <where>
            A.ORG_CODE = #{orgCode}
            <if test="userName != null and userName !=''">
                AND A.USER_NAME LIKE '%${userName}%'
            </if>
            <if test="trueName != null and trueName !=''">
                AND A.TRUE_NAME LIKE '%${trueName}%'
            </if>
            <!--<if test="userType != null and userType !=''">-->
                <!--AND A.USER_TYPE = #{userType}-->
            <!--</if>-->
        </where>
    </select>

 <select id="login" resultType="com.dsg.entity.setting.SsoUser">
     SELECT  OID AS OID,ORG_CODE AS ORGCODE,USER_NAME AS USERNAME,USER_PWD AS USERPWD,
     USER_TYPE AS USERTYPE,TRUE_NAME AS TRUENAME,ORDER_INDEX AS ORDERINDEX,
     IC_CODE AS ICCODE,CREDENTIALS_TYPE AS CREDENTIALSTYPE,CREDENTIALS_NUM AS CREDENTIALSNUM,TEL_NUM AS TELNUM,
     EMAIL AS EMAIL,ADDRESS AS ADDRESS,IS_VALID AS ISVALID,NOTES AS NOTES,OP_USER AS OPUSER,OP_TIME AS OPTIME,OPEN_ID AS OPENID
     FROM SSO_USER
     <where>
         (USER_NAME = #{userName} OR EMAIL = #{userName} OR TEL_NUM = #{userName}) AND USER_PWD = #{password}
     </where>
 </select>

</mapper>
